* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6fcf5;
}
.main-container {
  text-align: center;
  padding-top: 5%;
}

.main-container h1 {
  font-size: 3rem;
  color: #087f5b;
  padding: 20px;
}

.main-container p {
  font-size: 1.5rem;
  color: #12b886;
}

.main-container img {
  padding-top: 20px;
  width: 50%;
  height: auto;
}
